<app-cabecera></app-cabecera>
<h1 class="container bg-dark text-center text-white mt-3 mb-3">ngIF {{show}}</h1>
    <div class="container">
        <button class="btn btn-warning" (click)="show=!show">Acción</button>
        <p class="text-info" *ngIf="show; else showDos">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nisi repellat atque! Rem commodi aliquam
            nostrum, debitis at nam, asperiores doloremque architecto fugit non iure ea eveniet molestiae, libero esse.
        </p>

        <ng-template #showDos>
            <p class="text-danger">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nam pariatur doloremque quae voluptates illo
                dolorum rem quisquam earum hic! Temporibus quidem debitis sint fuga asperiores, itaque eum cum aperiam.
            </p>
        </ng-template>
       
</div>

<app-footer></app-footer>