<app-cabecera></app-cabecera>
<app-ngfor></app-ngfor>


<h1 class="container bg-dark text-center text-white mt-3 mb-3">ngIF {{show}}</h1>
<div class="container">

    <button class="btn btn-dark mb-3" (click)="activo='primero'">Primero</button>
    <button class="btn btn-danger mb-3" (click)="activo='segundo'">Primero</button>

    <p class="text-info" [ngClass]="activo=='primero' ? 'd-block' : 'd-none'">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati nisi repellat atque! Rem commodi aliquam
        nostrum, debitis at nam, asperiores doloremque architecto fugit non iure ea eveniet molestiae, libero esse.
    </p>


    <p class="text-danger " [ngClass]="activo=='segundo' ? 'd-block': 'd-none'">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, nam pariatur doloremque quae voluptates illo
        dolorum rem quisquam earum hic! Temporibus quidem debitis sint fuga asperiores, itaque eum cum aperiam.
    </p>


</div>

<app-footer></app-footer>